@*Esse é o código html da página home*@

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá! Seja bem vindo!</h1>
    <p>Este é um sistema básico de uma loja de videogames.</p>
</div>
